<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <div>
        <mat-icon aria-hidden="false" matRipple  class="arrow-back" aria-label="Example home icon" [routerLink]="['/', 'library-list']">arrow_back</mat-icon>
      </div>
      <div>
        <ion-title>Library Notification</ion-title>
      </div>
      <div>
        <ion-buttons slot="end" class="list-bar">
          <ion-button>
            <ion-icon name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="t-right ion-padding">24.03.2021 &nbsp; 05:30pm</p>
  <ion-card>
    <ion-card-content>
      <h4>Without any paragraph or header tags</h4>
      <p>Cards are a standard piece of UI that serves as an entry point to more detailed information. A card can be a single component, but is often made up of some header, title, subtitle, and content.....</p>
    </ion-card-content>
  </ion-card>
</ion-content>
