<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="logout">
    <ion-button expand="block" (click)="logout()">Logout</ion-button>
  </section>
</ion-content>
<!-- ******* Footer Tab Start ******* -->
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="dashboard_btn example-ripple-container mat-elevation-z4" (click)="onClick(1)"
        [ngClass]="{'active': tab==='dashboard_btn'}" matRipple [matRippleCentered]="centered" [routerLink]="['/', 'dashboard']"
        [matRippleRadius]="radius" [matRippleColor]="color">
        <div class="dashboard">
          <ion-icon name="home"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </div>
      </ion-col>
      <ion-col size="4" class="gallery_btn example-ripple-container mat-elevation-z4" (click)="onClick(2)"
        [ngClass]="{'active': tab==='gallery_btn'}"  matRipple
        [matRippleCentered]="centered" [matRippleRadius]="radius" [matRippleColor]="color">
        <div class="gellary">
          <ion-icon name="images"></ion-icon>
          <ion-label>Gallery</ion-label>
        </div>
      </ion-col>
      <ion-col size="4" class="account_btn example-ripple-container mat-elevation-z4" (click)="onClick(3)"
        [ngClass]="{'active': tab==='account_btn'}" matRipple [matRippleCentered]="centered" [matRippleRadius]="radius"
        [matRippleColor]="color">
        <div class="account">
          <ion-icon name="person"></ion-icon>
          <ion-label>Account</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
<!-- ******* Footer Tab End ******* -->