ion-header{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --background: #fff !important;
    background: #fff !important;
    ion-toolbar{
        --border-width: 0;
        .header-content{
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
            align-items: center;
            div{
                mat-icon{
                    color: #000 !important;
                }
                ion-buttons{
                    color: #000 !important;
                }
            }
        }
        
    }
    .nav-item{
        padding: 15px 0;
        justify-content: space-around;
        // background: #000 !important;
        --background: #fff !important;
        background: #fff !important;
        .active{
            ion-label{
                font-size: 14px;
                // color: #ff3030 !important;
                font-weight: 500;
            }
            span{
                font-size: 15px;
                display: inline-block;
                // color: #ff3030 !important;
            }
        }
        span{
                font-size: 15px;
                display: inline-block;
                color: #ABABAB ;
            }
            ion-label{
                font-size: 14px;
                color: #ABABAB ;
            }
        .general{
            i{
                font-size: 15px;
                display: inline-block;
                color: #ABABAB;
            }
            ion-label{
                font-size: 14px;
                color: #ABABAB;
            }
        }
        .attendance{
            i{
                font-size: 15px;
                display: inline-block;
                color: #ABABAB;
            }
            ion-label{
                font-size: 14px;
                color: #ABABAB;
            }
        }
        .libary{
            i{
                font-size: 15px;
                display: inline-block;
                color: #ABABAB;
            }
            ion-label{
                font-size: 14px;
                color: #ABABAB;
            }
        }
       
    }
    
}
.subject-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    margin: 0;
}
ion-content{
    --background: url(/assets/images/Layer0.png);
    height: 100%;
    width: 100%;
    .pt-15{
        padding-top: 15px;
        .message-item{
            margin: 0 15px 0px 15px;
            position: relative;
            overflow: hidden;
            border-radius: 20px;
            .box-seed-color {
                width: 40px;
                height: 100%;
                position: absolute;
                left: -34px;
                z-index: 999999;
                border-radius: 50%;
            }
            .message-item-color{
                border-radius: 20px;
                --inner-border-width: 0;
                box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
                --background: #fff !important;
                .message-avatar{
                    color: #fff;
                    position: relative;
                    // background-color: #818080;
                    i{
                        position: absolute;
                        width: 100%;
                        font-size: 17px;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
    
                    }
                }
               
    
                ion-label{
                    margin: 3px 0px 5px;
                    p{
                        margin: 0;
                        font-size: 12px;
                        font-weight: 500;
                        color: #000;
                    }
                    .message-content{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h3{
                            margin: 0;
                            font-weight: 500;
                            font-size: 14px;
                            color: #000;
                            
                        }
                        .time{
                            h5{
                                margin: 0;
                                color: #0b0b7d;
                                font-weight: 500;
                                span{
                                    color: #f22020;
                                    font-weight: 500;
                                }
                            }
                            
                        }
                    }
                    
                }
            }
            .message-item-color.bg-blue{
                .message-avatar{
                    background:  #047EE6;
                }
    
            }
    
            .message-item-color::before{
                content: "";
                height: 56px;
                width: 51px;
                border-radius: 100%;
                position: absolute;
                z-index: 9999 !important;
                top: 0px;
                left: -44px;
            }
            .message-item-color.bg-blue::before{
                background-color: #047EE6;
            }
            
            .message-item-color.bg-orange{
                .message-avatar{
                    background:  #f2810d;
                }
    
            }
            
            .message-item-color.bg-green{
                .message-avatar{
                    background:  #25a61d;
                }
    
            }
            .message-item-color.bg-green::before{
                background-color: #25a61d;
            }
            .message-item-color::before{
                content: "";
                height: 56px;
                width: 51px;
                border-radius: 100%;
                position: absolute;
                z-index: 9999 !important;
                top: 0px;
                left: -44px;
            }
            .message-item-color.bg-orange::before{
                background-color: #f2810d;
            }
            .message-item-color.seened{
                .message-avatar{
                    // background:  #1AAE03;
                    // background: #B4B1B1 !important;
                    background: #b4b1b178 !important;
                    filter: opacity(0.7);
                }
                ion-label{
                    p{
                        color: #7C7B7C;
                    }
                    .message-content{
                        h3{
                            color: #7C7B7C;
                        }
                        .time{
                            h5{
                                color:#7C7B7C;
                                span{
                                    color:#7C7B7C;
                                }
                            }
                        }
                    }
                }
    
            }
            .message-item-color::before{
                content: "";
                height: 56px;
                width: 51px;
                border-radius: 100%;
                position: absolute;
                z-index: 9999 !important;
                top: 0px;
                left: -44px;
            }
            .message-item-color.seened::before{
                background: #B4B1B1 !important;
                filter: opacity(0.7);
            }
        }
    }
    
}
ion-toolbar{
    --background: #fff !important;
  }
  ion-searchbar{
    --background: #fff !important;
    padding-top: 1px !important;

  }
  ////search
 ion-toolbar:first-child.custom
  {
    height: auto !important;
    ion-searchbar
    {
        --box-shadow: none !important;
        --border-radius: 10px;
        --background: #f7f6f6 !important;   
    }
  }
//   ion-searchbar.custom
//     {
//         --box-shadow: none !important;
//         --border-radius: 10px;
//         --background: #f7f6f6 !important;   
//     }
.search__input {
    border: black 0;
    background-color: transparent;
    // margin: 8px;
    font-size: 16px;
    display: flex;
  }
  
  .search__input:focus {
    outline: 0;
    // position: absolute;
    // background-color: red;
    width: 200px;
  }
  
  .search__container {
    // width: 100%; 
    // text-align:right; 
    // background-color:white; 
    // color: black;
    // border-radius: 3px;
    width: auto;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: flex;
    position: absolute !important;
    right: 15px;
  }
 
  
