<ion-content class="reset-password">
  <p class="text">Reset Password</p>
  <div class="reset-logo">
    <ion-img src="" class="reset-image"></ion-img>
  </div>
  <p class="text-new">Enter Your New Password</p>
    <div class="reset-form">
      <form #addForm="ngForm" (ngSubmit)="onSubmitForm(addForm)">
        <ion-input class="form-control" placeholder="New Password" name="password" [(ngModel)]="model.password" required></ion-input>
        <ion-input class="form-control" placeholder="Confirm Password" name="repassword" [(ngModel)]="model.repassword" required></ion-input>
        <ion-button type="submit">Submit</ion-button>
      </form>
    </div>
</ion-content>
