ion-content{
    --background: #F4F4F6;
    .con-text{
        width: 100%;
        text-align: center;
        margin-top: 25%;
        font-size: 30px;
        color: #636369;
    }
    .done-logo{
        text-align: -webkit-center;
        top: 25%;
        left: 0%;
        position: absolute;
        
        ion-img{
            width: 70%;
            padding-bottom: 60px;
        } 
        .reset-message{
            font-size: 23px;
            color: #77777e;
        }
    }
    
}


