<ion-content>
  <p class="text">Forgot Password</p>
  <div class="reset-logo">
    <ion-img src="assets/images/face.png"></ion-img>
  </div>
  <p class="text-new">Enter Your ID Card Number</p>
  <div class="reset-form">
    <form #addForm="ngForm" (ngSubmit)="onSubmitForm(addForm)">
      <ion-input class="form-control" placeholder="Enter Your ID Card Number Here" name="id_card_no"
        [(ngModel)]="model.id_card_no" required></ion-input>
      <ion-button type="submit">Send OTP</ion-button>
    </form>
    <p class="r-password">You Will Receive OTP On Your Registred Mobile No.</p>
  </div>
</ion-content>