
<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <div>
        <mat-icon aria-hidden="false" class="arrow-back" aria-label="Example home icon"
          [routerLink]="['/', 'dashboard']">keyboard_backspace</mat-icon>
      </div>
      <div>
        <ion-title>Home Work List</ion-title>
      </div>
      <div>
        <!-- <ion-buttons slot="end" class="list-bar">
          <ion-button>
            <ion-icon name="search" ></ion-icon>
          </ion-button>
        </ion-buttons>  -->
      </div>
    </div>
  </ion-toolbar>
  <div class="p-15">
    <div class="nav-item">
      <div class="divA" (click)="onClick(0)" [ngClass]="{'active': tab===0}">
        <span><i class="fa fa-leanpub" aria-hidden="true"></i></span>
        <ion-label>&nbsp;Not Publish</ion-label>
      </div>
      <div class="divA" (click)="onClick(1)"   [ngClass]="{'active': tab === 1}" >
        <i class="fa fa-leanpub" aria-hidden="true"></i>
        <ion-label>&nbsp;Publish</ion-label>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>

  <section class="table">
    <div class="search-tbl">
      <ion-searchbar animated [ngModel]="model.search" (ngModelChange)="search($event)"></ion-searchbar>
    </div>
    <div class="table-content">
      <!-- <div class="sellectall">{{getData}}Select All<mat-checkbox class="example-margin pl-10" [checked]="selectall" (change)="allComplete($event,0)"></mat-checkbox></div> -->
      <div *ngFor="let value of list; let index=index">
        <div class="message-item">
          <div class="message-item-color">
            <div class="message-section">
              <div class="student-name">{{value?.title}}</div>
              <div class="ali-center">
                <div class="message-content">
                  <div>
                    <h3>{{value?.submission_date}}</h3>
                  </div>
                </div>
                <div class="item-download">
                  <div class="message-text">
                    <button mat-mini-fab color="primary" (click)="onPublish(value?.id)"  *ngIf="tab==0" aria-label="Example icon button with a delete icon">
                      <mat-icon> publish</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="onEdit(value?.id)"  *ngIf="tab==0" aria-label="Example icon button with a home icon">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="save-btn" id="check"><ion-button class="btn-color" expand="block" (click)="onSubmit()" >Add</ion-button></div>
</ion-content>