<ion-content>
  <p class="text">Verification</p>
  <div class="reset-logo">
    <ion-img src="assets/images/face_2.png"></ion-img>
  </div>
  <p class="text-new">Enter Your OTP</p>
    <div class="reset-form">
      <ion-input class="form-control" placeholder="Enter Your OTP Here"></ion-input>
      <ion-button [routerLink]="['/', 'reset-password']">Verify</ion-button>
      <ion-button [routerLink]="['/', 'otp-counter']">Resend OTP</ion-button>
      <p class="r-password">Your OTP has been sent on your registred Mobile Number 91xxxxxxxxxx</p>
    </div>
</ion-content>