ion-header{
    box-shadow: rgb(0 0 0 / 90%) 0px 0px 14px -2px;
    .arrow-back{
        position: absolute;
        left: 4%;
        z-index: 999;
    }
    .list-bar{
        position: absolute;
        left: 86%;
        z-index: 999;
    }
    ion-title{
        text-align: center;
    }
    .menu-bar{
        position: absolute;
        width: 100%;
        text-align: right;
        top: 10%;
        color: #4d4848;
        z-index: 99999;
        mat-icon{
            font-size: 30px;
        }
       .menu-button{
           width: 50px;
       }
    }
}

ion-content{
    // --background:url(/assets/images/Layer0.png);
    --background: #fff;
    .content1{
        width: 100%;
        justify-content: center;
        display: flex;
        top: 3%;
        position: relative;
        padding: 0px 15px 0px 15px;
        .content-box1{
            height: 120px;
            width: 100%;
            background: #1e1e92;
            border-radius: 10px;    
            // box-shadow: rgb(0 0 0 / 25%) 0px 0px 64px, rgb(0 0 0 / 22%) 0px 6px 10px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            .divide::before{
                content: " ";
                position: absolute;
                top: 10%;
                left: 100%;
                height: 48px;
                width: 1px;
                background-color: #fff;
            }  
            p{
                text-align: center;
                color: #fff;
                font-size: 18px;
            }
            ion-label{
                width: 100%;
                justify-content: center;
                color: #fff;
                display: flex;
            }
            ion-grid{
                padding: 20px;
                ion-row{
                    padding-bottom:9px ;
                }
                ion-lable{
                    width: 100%;
                    justify-content: center;
                    color: #fff;
                    display: flex;
                }
            }
        }
    }
    .content2{
        width: 100%;
        justify-content: center;
        display: flex;
        top: 5%;
        position: relative;
        padding: 0px 15px 15px 15px;
        .content-box2{
            height: 120px;
            width: 100%;
            background: #ec0a0a;
            border-radius: 10px;    
            // box-shadow: rgb(0 0 0 / 25%) 0px 0px 64px, rgb(0 0 0 / 22%) 0px 6px 10px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
        .divide::before{
            content: " ";
            position: absolute;
            top: 10%;
            left: 100%;
            height: 48px;
            width: 1px;
            background-color: #fff;
        }  
        p{
            text-align: center;
            color: #fff;
            font-size: 18px;
        }
        ion-label{
            width: 100%;
            justify-content: center;
            color: #fff;
            display: flex;
        }
        ion-grid{
            padding: 20px;
            ion-row{
                padding-bottom: 9px;
            }
            ion-lable{
                width: 100%;
                justify-content: center;
                color: #fff;
                display: flex;
            }
        }
    }

    

    .demo-inline-calendar-card {
        width: 300px;
        mat-calendar{
            background: white;
        }
    }
       

    .attendance-list{
        height: 75px;
        width: 100%;
        background: white;
        box-shadow: rgb(0 0 0 / 90%) 0px 0px 14px -2px;
        padding: 15px;
        ion-col{
            text-align: center;
            font-weight: bold;
            font-size: 12px;
        }
        .list-1{
            color: #5A60CD;
        }
        .list-2{
            color: #33BD1D;
        }
        .list-3{
            color: #F98643;
        }
        .list-4{
            color: #1BCCF9;
        }
        .list-5{
           color: #C821F2; 
        }
        .list-6{
            color: #EB1624;
        }
    }
    
}
.segment{
    position: relative;
    top: 10%;
    ion-segment{
        background: #272B81;
        ion-segment-button{
            --indicator-height:none;
            --indicator-color:unset;
            ion-label{
                color: #fff;
            }
            ion-icon{
                color: #F2F3F8;
            }
        }
        ion-segment-button:active{
            background: #121665;
            ion-icon{
                color: #e91818;
            }
        }
        ion-segment-button:focus{
            background: #121665;
            ion-icon{
                color: #e91818;
            }
        }
        ion-segment-button[aria-selected="true"]{
            background: #121665;
            ion-icon{
                color: #e91818;
            }
        }
    }


}