
<ion-content>
  <div class="logo-header">
    <ion-img src="assets/images/logo.png"></ion-img>
  </div>
  <div class="log-form">
    <!-- <form #addForm="ngForm" (ngSubmit)="onSubmitForm(addForm)"> -->
      <form #addForm="ngForm" (ngSubmit)=" usernameshow == true?onSubmitUser(addForm):onSubmitForm(addForm)">
        <ion-input class="form-control" placeholder="Username" name="username" [(ngModel)]="model.username"
          *ngIf="usernameshow == true" required></ion-input>
      <ion-input class="form-control" placeholder="Password" *ngIf="usernameshow == false" name="password" [(ngModel)]="model.password" required  ></ion-input>
      <ion-button type="submit">Submit</ion-button>
      <p class="f-password">
        <a [routerLink]="['/', 'forgot-password']">Forgot Password</a>
      </p>
    </form>
  </div>
</ion-content>