ion-header{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    .arrow-back{
        position: absolute;
        left: 4%;
        z-index: 999;
    }
    .list-bar{
        position: absolute;
        left: 86%;
        z-index: 999;
    }
    ion-title{
        text-align: center;
    }
    .menu-bar{
        position: absolute;
        width: 100%;
        text-align: right;
        top: 10%;
        color: #4d4848;
        z-index: 99999;
        mat-icon{
            font-size: 30px;
        }
       .menu-button{
           width: 50px;
       }
    }
}
ion-content{
    --background:url(/assets/images/Layer0.png);
    .calendar-content{
        width: 100%;
        p{
            color: #86898C;
            text-align: center;
            margin-bottom: 0px;
            padding: 15px;
        }
        p::before{
            content: "\2039";
            position: relative;
            left: -3%;
            font-size: 18px;
            color: #4F5299;
        }
        p::after{
            content: "\203A";  
            position: relative;
            left: 3%;
            font-size: 18px;
            color: #4F5299;
        }
    }
    .library-list{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0px;
    }
    .date-col{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        div{
            h2{
                margin: 0px;
                font-size: 25px;
                color: #EA0C27;
                margin-top: 5px;
                margin-bottom: -5px;
            }
            p{
                margin-bottom: -5px;
                color: #7A7D81;
            }
        }
    }
    .date-col::after{
        content: "................";
        position: absolute;
        transform: rotate(90deg);
        top: 84%;
        color: #7A7D81;
    }
    .menu-list{
        height: 130px;
        background: white;
        border-radius: 10px;
        border: 1px solid white;
        box-shadow: rgb(0 0 0 / 25%) 0px 0px 64px, rgb(0 0 0 / 22%) 0px 6px 10px;
        .in{
            border-radius: 30px;
            padding-top: 0px;
            padding-bottom: 0px;
            height: 22px;
            background: #D2FFCC;
            color: #55BC4A;
            border: 1px solid #3FB231;
        }
        .out{
            border-radius: 30px;
            padding-top: 0px;
            padding-bottom: 0px;
            height: 22px;
            background: #FCE0E4;
            color: #e6142c;
            border: 1px solid #e6142c;
        }
        .first-col{
            font-size: 10px;
            font-weight: bold;
            color: #55BC4A;
        }
        .seconde-col{
            font-size: 10px;
            font-weight: bold;
            color: #e6142c;
        }
        .mt-6{
            margin-top: -6px;
        }
        .total-cal{
            border-radius: 30px;
            padding-top: 0px;
            padding-bottom: 0px;
            height: 22px;
            color: #CD7FEA;
            background-color: #fff;
            border: 1px solid #CD7FEA; 
            font-size: 9px;
            font-weight: bold;
        }
        .mt-10{
            margin-top: -10px;
        }
        .t-center{
            text-align: center;
        }
    }
    
    .calendar-icon{
        position: absolute;
        top:16px;
        left: 72%;
        mat-form-field{
            display: none;
            
        }
        .icon{
            font-size: 17px;
            color: #6F7275;
        }
    }
}