<ion-content>
  <p class="text">Forgot Password</p>
  <div class="reset-logo">
    <ion-img src="assets/images/face.png"></ion-img>
  </div>
  <p class="text-new">Enter Your ID Card Number</p>
    <div class="reset-form">
      <ion-input class="form-control" placeholder="Enter Your ID Card Number Here"></ion-input>
      <ion-button [routerLink]="['/', 'resend-otp']">Send OTP</ion-button>
      <p class="r-password">You Will Receive OTP On Your Registred Mobile No.</p>
    </div>
</ion-content>